<%= form_with(model: session, local: true) do |form| %>
  <% if session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
        <% session.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :language %>
    <%= form.text_field :language %>
  </div>

  <div class="field">
    <%= form.label :project %>
    <%= form.text_field :project %>
  </div>

  <div class="field">
    <%= form.label :minutes %>
    <%= form.text_field :minutes %>
  </div>

  <div class="field">
    <%= form.label :buddies %>
    <%= form.text_field :buddies %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
