<p id="notice"><%= notice %></p>

<h1>Stopwatch</h1>
  <td><%= button_to 'start', :action => "set_session_start", :method => :get %></td>
  <td><%= button_to 'stop', :action => "set_session_end", :method => :get %></td>
  

<h1>Sessions</h1>

<table>
  <thead>
    <tr>
      <th>Language</th>
      <th>Project</th>
      <th>Minutes</th>
      <th>Study Buddies</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.language %></td>
        <td><%= session.project %></td>
        <td><%= session.language %></td>
        <td><%= session.language %></td>


        <td><%= link_to 'Show', session %></td>
        <td><%= link_to 'Edit', edit_session_path(session) %></td>
        <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session', new_session_path %>
