<div class="all">
  <div class="title">A Stationery Lover's Study Tracker</div>
  <div class="top">
    <p id="notice"><%= notice %></p>

    <h1 class="h1">Stopwatch</h1>
      <td>
        <div class="button-align">
          <%= button_to 'Start', {action: :start}, method: :get, disabled: (params.key?(:start)) %>
          <%= button_to 'Stop', {action: :stop}, method: :get, params: { start: params[:start] }, disabled: !(params.key?(:start))  %>
          <%= button_to 'Reset', {action: :index}  %>
        </div>
        <% if params.key?(:start) %>
          <p class="leading-relaxed"><span>Start time is <%= params[:start].to_time.to_formatted_s(:time) %></span></p>
        <% end %>

        <% if params.key?(:stop) %>
          <p class="leading-relaxed"><span>Stop time is <%= params[:stop].to_time.to_formatted_s(:time)  %></span></p>
          <p class="leading-relaxed"><span>Session duration: <%= params[:minutes].to_s %></span> minutes </p>
          <%= link_to 'Create a session with this duration', new_session_path(:minutes => params[:minutes]) %>
        <% end %>
      </td>
  </div>

  <div class="cover">
    <div class="bujo-dotgrid">
      <div class="binding">
        <div class="tabs tab-top"></div>
        <div class="tabs tab-middle"></div>
        <div class="tabs tab-bottom"></div>
        <h1 class="h1">Sessions</h1>
        <table>
          <thead>
            <tr>
              <th>Language</th>
              <th>Project</th>
              <th>Minutes</th>
              <th>Buddies</th>
              <th colspan="4"></th>
            </tr>
          </thead>

          <%= link_to 'Create a Historical Session', new_session_path, {:class => "button"} %>

          <tbody>
            <% @sessions.reverse_each do |session| %>
              <tr>
                <td><%= session.language %></td>
                <td><%= session.project %></td>
                <td><%= session.minutes %></td>
                <td><%= session.buddies %></td>


                <td><%= link_to 'Show', session, class: "button" %></td>
                <td><%= link_to 'Edit', edit_session_path(session), class: "button" %></td>
                <td><%= link_to 'Delete', session, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br>
</div>