<p id="notice"><%= notice %></p>

<h1>Stopwatch</h1>
  <td>
    <%= button_to 'start', {action: :new}, method: :get, disabled: (params.key?(:start)) %>
    <%= button_to 'stop', {action: :stop}, method: :get, params: { start: params[:start] }, disabled: !(params.key?(:start))  %>
    <% if params.key?(:stop) %>
      <p class="leading-relaxed"><span>Start time is <%= params[:start] %></span></p>
      <p class="leading-relaxed"><span>Stop time is <%= params[:stop] %></span></p>
      <p class="leading-relaxed"><span>Session duration: <%= ((params[:stop].to_time.to_i - params[:start].to_time.to_i)/60).to_s %></span> minutes </p>
    <% else %>
      <p class="leading-relaxed"><span>Start time is <%= params[:start] %></span></p>
      <%#= link_to 'Create Session', new_session_path  %>
    <% end %>
  </td>

<h1>Sessions</h1>

<table>
  <thead>
    <tr>
      <th>Language</th>
      <th>Project</th>
      <th>Buddies</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.language %></td>
        <td><%= session.project %></td>

        <td><%= link_to 'Show', session %></td>
        <td><%= link_to 'Edit', edit_session_path(session) %></td>
        <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session', new_session_path %>
